@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap');

.headingL {
    font: 300 32px "Outfit";
}

.headingM {
    font: 300 24px "Outfit";
}

.headingS {
    font: 500 24px "Outfit";
    @media screen and (max-width: 550px) {
        font-size: 16px;
    }
    @media screen and (orientation: landscape) and (max-width: 900px) and (max-height: 450px) {
        font-size: 16px;
    }
}

.headingXS {
    font: 500 18px "Outfit";
    @media screen and (max-width: 550px) {
        font-size: 12px;
    }
}

.bodyM {
    font: 300 15px "Outfit";
}

.bodyS {
    font: 300 13px "Outfit";
    @media screen and (max-width: 550px) {
        font-size: 10px;
    }
}