@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap');

.headingL {
    font: 300 32px "Outfit";
}

.headingM {
    font: 300 24px "Outfit";
}

.headingS {
    font: 500 24px "Outfit";
}

.headingXS {
    font: 500 18px "Outfit";
}

.bodyM {
    font: 300 15px "Outfit";
}

.bodyS {
    font: 300 13px "Outfit";
}