@use 'colors';

.Login {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: colors.$black;
    @media screen and (max-width: 900px) and (min-height: 800px) {
        justify-content: flex-start;
        padding-top: 15%;
    }
    @media screen and (orientation: landscape) and (max-width: 900px) and (max-height: 450px) {
        padding-top: 3%;
    }
    .alertModal {
        button {
            height: 30%;
        }
    }
    img {
        margin-bottom: 5%;
        @media screen and (max-width: 480px) {
            margin-bottom: 12%;
        }
        @media screen and (orientation: landscape) and (max-width: 900px) and (max-height: 450px) {
            margin-bottom: 2%;
        }
    }
    .form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: colors.$darkBlue;
        width: 30vw;
        height: 65vh;
        padding: 2%;
        border-radius: 20px;
        @media screen and (max-width: 900px) {
            width: 40vw;
            padding: 5%;
        }
        @media screen and (max-width: 900px) and (min-height: 800px) {
            width: 60vw;
            height: 40vh;
            padding: 5%;
        }
        @media screen and (max-width: 680px) {
            width: 55vw;
        }
        @media screen and (max-width: 480px) {
            width: 85vw;
            height: 55vh;
            padding: 10% 5%;
        }
        @media screen and (orientation: landscape) and (max-width: 900px) and (max-height: 450px) {
            width: 50vw;
            height: 80vh;
            padding: 2% 5%;
        }
        .header {
            align-self: flex-start;
            color: colors.$white;
        }
        form {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            height: 70%;
            input {
                &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus {
                    background-color: colors.$darkBlue;
                }
            }
            .input {
                width: 100%;
                background-color: colors.$darkBlue;
                border: none;
                border-bottom: 1px solid colors.$gray;
                height: 40px;
                outline: none;
                caret-color: colors.$red;
                color: colors.$white;
                &:focus {
                    border-color: colors.$white;
                }
            }
            .empty {
                border-color: colors.$red;
            }
            .spanempty {
                &::after {
                    content: "Can't be empty";
                    color: colors.$red;
                    font: 300 13px "Outfit";
                    position: relative;
                    z-index: 2;
                    top: -5.5vh;
                    left: 9vw;
                }
            }
            button {
                width: 100%;
                height: 40px;
                border-radius: 5px;
                background-color: colors.$red;
                color: colors.$white;
                border: none;
                margin-top: 2%;
                @media screen and (orientation: landscape) and (max-width: 900px) and (max-height: 450px) {
                    margin-top: 5%;
                }
            }
        }
        p {
            color: white;
        }
        a {
            text-decoration: none;
            color: colors.$red;
        }
    }
}