@use 'colors';
@use 'fonts';
@use 'login';
@use 'home';
@use 'guest';
@use 'content';
@use 'accountInfo';
@use 'sorry';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}